**/.dockerignore
**/.editorconfig
**/.env
**/.git
**/.gitignore
**/.vs/
**/.vscode/
**/.idea/
**/docker-compose*.yml
*.md
LICENSE
*.testsettings
**/bin/
**/obj/
**/bower_components/
**/wwwroot/lib/
global.json
**/appsettings.localhost.json
packages/
test-results/
TestResults/
*DotSettings*
*.firebase
**/node_modules/
**/dist/
**/.angular/
**/npm-debug.log
**/gradle/
**/docs
*.coverage
*.coverage.*
