<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="packages" />
  </config>
  <packageSources>
    <clear />
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="Packages" value="https://pkgs.dev.azure.com/peshkov/_packaging/PeshkovCache/nuget/v3/index.json" protocolVersion="3"/>
  </packageSources>
  <packageSourceCredentials>
    <Packages>
      <add key="Username" value="denis.peshkov@outlook.com"/>
      <add key="ClearTextPassword" value="G96d1wVTH1p7mkjOoTUlIh7xKmuM6O10ZZdKIAPBRdAMhcQLCnAiJQQJ99CBACAAAAAAAAAAAAASAZDO2AKw"/>
    </Packages>
  </packageSourceCredentials>
</configuration>
