<div role="document">
  <div tabindex="0" aria-label="Message body" class="XbIp4 jmmB7 GNqVo allowTextSelection OuGoX" id="UniqueMessageBody_6">
    <div class="BIZfh">
      <div visibility="hidden">
        <style>
          <!--
          .rps_d6a7 a.x_white-link {
            color: #fff;
            text-decoration: underline
          }

          @media only screen and (max-width: 620px) {
            .rps_d6a7 table.x_body h1 {
              font-size: 28px !important;
              margin-bottom: 10px !important
            }

            .rps_d6a7 table.x_body p, .rps_d6a7 table.x_body ul, .rps_d6a7 table.x_body ol, .rps_d6a7 table.x_body td, .rps_d6a7 table.x_body span, .rps_d6a7 table.x_body a {
              font-size: 16px !important
            }

            .rps_d6a7 table.x_body .x_wrapper, .rps_d6a7 table.x_body .x_article {
              padding: 10px !important
            }

            .rps_d6a7 table.x_body .x_content {
              padding: 0 !important
            }

            .rps_d6a7 table.x_body .x_container {
              padding: 0 !important;
              width: 100% !important
            }

            .rps_d6a7 table.x_body .x_main {
              border-left-width: 0 !important;
              border-radius: 0 !important;
              border-right-width: 0 !important
            }

            .rps_d6a7 table.x_body .x_btn table {
              width: 100% !important
            }

            .rps_d6a7 table.x_body .x_btn a {
              width: 100% !important
            }

            .rps_d6a7 table.x_body .x_img-responsive {
              height: auto !important;
              max-width: 100% !important;
              width: auto !important
            }

            .rps_d6a7 .x_hidden-mobile {
              display: none !important
            }

            .rps_d6a7 .x_center-mobile {
              text-align: center !important
            }

          }

          @media all {
            .rps_d6a7 .x_ExternalClass {
              width: 100%
            }

            .rps_d6a7 .x_ExternalClass, .rps_d6a7 .x_ExternalClass p, .rps_d6a7 .x_ExternalClass span, .rps_d6a7 .x_ExternalClass font, .rps_d6a7 .x_ExternalClass td, .rps_d6a7 .x_ExternalClass div {
              line-height: 100%
            }

            .rps_d6a7 .x_apple-link a {
              color: inherit !important;
              font-family: inherit !important;
              font-size: inherit !important;
              font-weight: inherit !important;
              line-height: inherit !important;
              text-decoration: none !important
            }

            .rps_d6a7 #x_MessageViewBody a {
              color: inherit;
              text-decoration: none;
              font-size: inherit;
              font-family: inherit;
              font-weight: inherit;
              line-height: inherit
            }

            .rps_d6a7 .x_btn-primary table td:hover {
              background-color: #34495e !important
            }

            .rps_d6a7 .x_btn-primary a:hover {
              background-color: #34495e !important;
              border-color: #34495e !important
            }

          }

          -->
        </style>
        <div class="rps_d6a7">
          <div style="background-color:#f5f7f7; font-family:sans-serif; font-size:16px; line-height:1.4; margin:0; padding:0; color:#033030; text-align:center">
            <div style="height: 817px; width: 100%;" class="R1UVb">
              <div class="qF8_5">
                <button type="button" class="fui-Button r1alrhcs wD8TJ ___cpe5h10 f1c21dwh f1p3nwhy f11589ue f1q5o8ev f1pdflbu fkfq4zb fjxutwb f1s2uweq fr80ssc f1ukrpxl fecsdlb f139oj5f ft1hn21 fuxngvv fwiml72 f1h0usnq fs4ktlq f16h9ulv fx2bmrt f1fg1p5m f1dfjoow f1j98vj9 f1tme0vf f4xjyn1 f18onu3q f9ddjv3 f18ktai2 fwbmr0d f44c6la" title="Show original size" aria-label="Show original size"><span class="fui-Button__icon rywnvv2"><i
                  class="fui-Icon-font ___qaf4230 f14t3ns0 fne0op0 fmd4ok8 f303qgw f1sxfq9t" fill="currentColor" aria-hidden="true"></i></span></button>
              </div>
              <table style="border-collapse: separate; background-color: rgb(245, 247, 247); width: 100%; transform: scale(0.934713, 0.934713); transform-origin: left top;" bgcolor="#f5f7f7" width="100%" class="x_body" cellspacing="0" cellpadding="0" border="0" role="presentation" min-scale="0.9347133757961783">
                <tbody>
                <tr>
                  <td style="font-family:sans-serif; font-size:14px; vertical-align:top" valign="top">&nbsp;</td>
                  <td style="font-family:sans-serif; font-size:14px; vertical-align:top; display:block; max-width:600px; padding:10px; width:600px; margin:0 auto" valign="top" width="600" class="x_container">
                    <div style="box-sizing:border-box; display:block; margin:0 auto; max-width:600px; padding:10px" class="x_content">
                      <div style="clear:both; margin-top:10px; text-align:center; width:100%" class="x_header">
                        <table style="border-collapse:separate; width:100%" width="100%" border="0" cellspacing="0" cellpadding="0" role="presentation">
                          <tbody>
                          <tr>
                            <td style="font-family:sans-serif; font-size:14px; vertical-align:top; padding-top:20px; text-align:center" align="center" valign="top" class="x_content-block"><a style="color:#3498db; text-decoration:underline; display:inline-block" originalsrc="https://bioclinica.ro/" data-auth="NotApplicable" rel="noopener noreferrer" target="_blank"
                                                                                                                                                                                               href="https://emea01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fbioclinica.ro%2F&amp;data=05%7C02%7C%7C98eeda892d39407b51f008de058f6089%7C84df9e7fe9f640afb435aaaaaaaaaaaa%7C1%7C0%7C638954310525227867%7CUnknown%7CTWFpbGZsb3d8eyJFbXB0eU1hcGkiOnRydWUsIlYiOiIwLjAuMDAwMCIsIlAiOiJXaW4zMiIsIkFOIjoiTWFpbCIsIldUIjoyfQ%3D%3D%7C0%7C%7C%7C&amp;sdata=%2B%2FnYcQVTHW0VAMHdw1vGaG7%2B7ADroqf%2B49Na%2BNAgev4%3D&amp;reserved=0"
                                                                                                                                                                                               data-linkindex="0" title="Protected by Outlook: https://bioclinica.ro/. Click or tap to follow the link."><img style="max-width:100%; border:0; outline:none; text-decoration:none; display:block" alt="Bioclinica" height="34" width="220" src="https://bioclinica.ro/images/emails/logo-green.png"
                                                                                                                                                                                                                                                                                                              data-imagetype="External"></a></td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                      <table style="border-collapse:separate; width:100%" width="100%" class="x_transparent" cellspacing="0" cellpadding="0" border="0" role="presentation">
                        <tbody>
                        <tr>
                          <td style="font-family:sans-serif; font-size:14px; vertical-align:top; box-sizing:border-box; padding:20px" valign="top" class="x_wrapper">
                            <table style="border-collapse:separate; width:100%" width="100%" cellspacing="0" cellpadding="0" border="0" role="presentation">
                              <tbody>
                              <tr>
                                <td style="font-family:sans-serif; font-size:14px; vertical-align:top; text-align:center" align="center" valign="top" class="x_align-center"><h1 style="color:#000000; font-family:'Times New Roman',serif; line-height:1.4; margin:0; margin-bottom:30px; text-align:center; font-size:35px; font-weight:300">Bună Pieshkov Denys,</h1>
                                  <p style="font-family:sans-serif; font-size:16px; font-weight:normal; margin:0; margin-bottom:15px">De acum poți să te bucuri de toate beneficiile pe care ți le oferă contul Bioclinica:</p></td>
                              </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                      <table style="border-collapse:separate; background:#ffffff; width:100%; box-shadow:0px 3px 6px #00000029" width="100%" class="x_main" cellspacing="0" cellpadding="0" border="0" role="presentation">
                        <tbody>
                        <tr>
                          <td style="font-family:sans-serif; font-size:14px; vertical-align:top; box-sizing:border-box; padding:20px" valign="top" class="x_wrapper">
                            <table style="border-collapse:separate; width:100%" width="100%" cellspacing="0" cellpadding="0" border="0" role="presentation">
                              <tbody>
                              <tr>
                                <td style="font-family:sans-serif; font-size:14px; vertical-align:top; text-align:center" align="center" valign="top" class="x_align-center">
                                  <table style="border-collapse:separate; width:100%" width="100%" cellspacing="0" cellpadding="0" border="0" role="presentation">
                                    <tbody>
                                    <tr>
                                      <td style="font-family:sans-serif; font-size:14px; vertical-align:top; width:30px; text-align:right; padding-right:5px" valign="top" align="right" width="30">1.</td>
                                      <td style="font-family:sans-serif; font-size:14px; vertical-align:top; padding-bottom:20px; text-align:left" valign="top" align="left">Programează-te online</td>
                                    </tr>
                                    <tr>
                                      <td style="font-family:sans-serif; font-size:14px; vertical-align:top; width:30px; text-align:right; padding-right:5px" valign="top" align="right" width="30">2.</td>
                                      <td style="font-family:sans-serif; font-size:14px; vertical-align:top; padding-bottom:20px; text-align:left" valign="top" align="left">Modifică programările existente</td>
                                    </tr>
                                    <tr>
                                      <td style="font-family:sans-serif; font-size:14px; vertical-align:top; width:30px; text-align:right; padding-right:5px" valign="top" align="right" width="30">3.</td>
                                      <td style="font-family:sans-serif; font-size:14px; vertical-align:top; padding-bottom:20px; text-align:left" valign="top" align="left">Vizualizează rezultatele analizelor tale</td>
                                    </tr>
                                    <tr>
                                      <td style="font-family:sans-serif; font-size:14px; vertical-align:top; width:30px; text-align:right; padding-right:5px" valign="top" align="right" width="30">4.</td>
                                      <td style="font-family:sans-serif; font-size:14px; vertical-align:top; padding-bottom:20px; text-align:left" valign="top" align="left">Menține un istoric al tuturor analizelor efectuate</td>
                                    </tr>
                                    </tbody>
                                  </table>
                                  <table style="border-collapse:separate; box-sizing:border-box; width:100%" width="100%" class="x_btn x_btn-primary" cellspacing="0" cellpadding="0" border="0" role="presentation">
                                    <tbody>
                                    <tr>
                                      <td style="font-family:sans-serif; font-size:14px; vertical-align:top; padding-bottom:15px" valign="top" align="center">
                                        <table style="border-collapse:separate; width:auto" width="auto" cellspacing="0" cellpadding="0" border="0" role="presentation">
                                          <tbody>
                                          <tr>
                                            <td style="font-family:sans-serif; font-size:14px; vertical-align:top; border-radius:500px; text-align:center; background-color:#074F4F" bgcolor="#074F4F" align="center" valign="top"><a style="border:solid 1px #074F4F; border-radius:500px; box-sizing:border-box; display:inline-block; font-size:18px; margin:0; padding:12px 25px; text-align:center; min-width:250px; text-decoration:none; background-color:#074F4F; border-color:#074F4F; color:#ffffff"
                                                                                                                                                                                                                                      originalsrc="https://bioclinica.ro/contul-meu/login" data-auth="NotApplicable" rel="noopener noreferrer" target="_blank"
                                                                                                                                                                                                                                      href="https://emea01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fbioclinica.ro%2Fcontul-meu%2Flogin&amp;data=05%7C02%7C%7C98eeda892d39407b51f008de058f6089%7C84df9e7fe9f640afb435aaaaaaaaaaaa%7C1%7C0%7C638954310525254293%7CUnknown%7CTWFpbGZsb3d8eyJFbXB0eU1hcGkiOnRydWUsIlYiOiIwLjAuMDAwMCIsIlAiOiJXaW4zMiIsIkFOIjoiTWFpbCIsIldUIjoyfQ%3D%3D%7C0%7C%7C%7C&amp;sdata=G0YN5MegBypFo2INBFa1ztzf4qL2CbZc0jlFC%2FT9XKw%3D&amp;reserved=0"
                                                                                                                                                                                                                                      data-linkindex="1" title="Protected by Outlook: https://bioclinica.ro/contul-meu/login. Click or tap to follow the link.">Intră în cont</a></td>
                                          </tr>
                                          </tbody>
                                        </table>
                                      </td>
                                    </tr>
                                    </tbody>
                                  </table>
                                  <p style="font-family:sans-serif; font-size:16px; font-weight:normal; margin:0; margin-bottom:15px">Numai bine, <br>Echipa Bioclinica</p></td>
                              </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                      <hr style="border:0; border-bottom:1px solid #aaa">
                      <table style="border-collapse:separate; width:100%" width="100%" class="x_transparent" cellspacing="0" cellpadding="0" border="0" role="presentation">
                        <tbody>
                        <tr>
                          <td style="font-family:sans-serif; font-size:14px; vertical-align:top; box-sizing:border-box; padding:20px" valign="top" class="x_wrapper">
                            <table style="border-collapse:separate; width:100%" width="100%" cellspacing="0" cellpadding="0" border="0" role="presentation">
                              <tbody>
                              <tr>
                                <td style="font-family:sans-serif; font-size:14px; vertical-align:top; text-align:center" align="center" valign="top" class="x_align-center"><p style="font-family:sans-serif; font-size:16px; font-weight:normal; margin:0; margin-bottom:15px; padding-top:20px" class="x_content-block">Ai nelămuriri sau întrebări legate de modul de funcționare al contului tău pe bioclinica.ro?<br><a style="color:#3498db; text-decoration:underline"
                                                                                                                                                                                                                                                                                                                                                                                                                              originalsrc="https://bioclinica.ro/contul-meu/ajutor" data-auth="NotApplicable"
                                                                                                                                                                                                                                                                                                                                                                                                                              rel="noopener noreferrer" target="_blank"
                                                                                                                                                                                                                                                                                                                                                                                                                              href="https://emea01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fbioclinica.ro%2Fcontul-meu%2Fajutor&amp;data=05%7C02%7C%7C98eeda892d39407b51f008de058f6089%7C84df9e7fe9f640afb435aaaaaaaaaaaa%7C1%7C0%7C638954310525267138%7CUnknown%7CTWFpbGZsb3d8eyJFbXB0eU1hcGkiOnRydWUsIlYiOiIwLjAuMDAwMCIsIlAiOiJXaW4zMiIsIkFOIjoiTWFpbCIsIldUIjoyfQ%3D%3D%7C0%7C%7C%7C&amp;sdata=E9X4nlRGHiNQ0DXifLM7CwPFzKEW3O2dc%2BUf1PQFouo%3D&amp;reserved=0"
                                                                                                                                                                                                                                                                                                                                                                                                                              data-linkindex="2"
                                                                                                                                                                                                                                                                                                                                                                                                                              title="Protected by Outlook: https://bioclinica.ro/contul-meu/ajutor. Click or tap to follow the link.">Vizitează
                                  secțiunea Contul Meu - Ajutor</a></p></td>
                              </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                      <hr style="border:0; border-bottom:1px solid #aaa">
                      <div style="clear:both; margin-top:10px; text-align:center; width:100%" class="x_footer">
                        <table style="border-collapse:separate; width:100%" width="100%" cellspacing="0" cellpadding="0" border="0" role="presentation">
                          <tbody>
                          <tr>
                            <td style="font-family:sans-serif; vertical-align:top; padding-top:20px; font-size:16px; text-align:center" align="center" valign="top" class="x_content-block"><a style="font-size:16px; text-align:center; text-decoration:none; color:#033030; display:inline-block; margin:0 10px" class="x_social-icon" originalsrc="https://facebook.com/laboratoarele.bioclinica" data-auth="NotApplicable" rel="noopener noreferrer" target="_blank"
                                                                                                                                                                                               href="https://emea01.safelinks.protection.outlook.com/?url=https%3A%2F%2Ffacebook.com%2Flaboratoarele.bioclinica&amp;data=05%7C02%7C%7C98eeda892d39407b51f008de058f6089%7C84df9e7fe9f640afb435aaaaaaaaaaaa%7C1%7C0%7C638954310525278671%7CUnknown%7CTWFpbGZsb3d8eyJFbXB0eU1hcGkiOnRydWUsIlYiOiIwLjAuMDAwMCIsIlAiOiJXaW4zMiIsIkFOIjoiTWFpbCIsIldUIjoyfQ%3D%3D%7C0%7C%7C%7C&amp;sdata=FJ%2BmT%2BOF1cWLObjRSYqhfvgo7mJJFoNWaT%2FMJsFogS4%3D&amp;reserved=0"
                                                                                                                                                                                               data-linkindex="3" title="Protected by Outlook: https://facebook.com/laboratoarele.bioclinica. Click or tap to follow the link."><img style="max-width:100%; border:0; outline:none; text-decoration:none; display:block" alt="Facebook" height="24" width="24"
                                                                                                                                                                                                                                                                                                                                     src="https://bioclinica.ro/images/emails/facebook.png" data-imagetype="External"></a><a
                              style="font-size:16px; text-align:center; text-decoration:none; color:#033030; display:inline-block; margin:0 10px" class="x_social-icon" originalsrc="https://instagram.com/laboratoarele.bioclinica" data-auth="NotApplicable" rel="noopener noreferrer" target="_blank"
                              href="https://emea01.safelinks.protection.outlook.com/?url=https%3A%2F%2Finstagram.com%2Flaboratoarele.bioclinica&amp;data=05%7C02%7C%7C98eeda892d39407b51f008de058f6089%7C84df9e7fe9f640afb435aaaaaaaaaaaa%7C1%7C0%7C638954310525292090%7CUnknown%7CTWFpbGZsb3d8eyJFbXB0eU1hcGkiOnRydWUsIlYiOiIwLjAuMDAwMCIsIlAiOiJXaW4zMiIsIkFOIjoiTWFpbCIsIldUIjoyfQ%3D%3D%7C0%7C%7C%7C&amp;sdata=idQMt6hWiSk0MxTe6fnlUF4wftslf9NSDeGAMxD9vq4%3D&amp;reserved=0" data-linkindex="4"
                              title="Protected by Outlook: https://instagram.com/laboratoarele.bioclinica. Click or tap to follow the link."><img style="max-width:100%; border:0; outline:none; text-decoration:none; display:block" alt="Instagram" height="24" width="24" src="https://bioclinica.ro/images/emails/instagram.png" data-imagetype="External"></a><a style="font-size:16px; text-align:center; text-decoration:none; color:#033030; display:inline-block; margin:0 10px" class="x_social-icon"
                                                                                                                                                                                                                                                                                                                                                                      originalsrc="https://www.youtube.com/channel/UCqGFIgNFyE-R3zFbcpym9Rg" data-auth="NotApplicable" rel="noopener noreferrer" target="_blank"
                                                                                                                                                                                                                                                                                                                                                                      href="https://emea01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.youtube.com%2Fchannel%2FUCqGFIgNFyE-R3zFbcpym9Rg&amp;data=05%7C02%7C%7C98eeda892d39407b51f008de058f6089%7C84df9e7fe9f640afb435aaaaaaaaaaaa%7C1%7C0%7C638954310525305302%7CUnknown%7CTWFpbGZsb3d8eyJFbXB0eU1hcGkiOnRydWUsIlYiOiIwLjAuMDAwMCIsIlAiOiJXaW4zMiIsIkFOIjoiTWFpbCIsIldUIjoyfQ%3D%3D%7C0%7C%7C%7C&amp;sdata=wziz2NHdpnrteh8E3hUTY%2Bu%2BNBA8fFUuqeMdsOF%2Ful0%3D&amp;reserved=0"
                                                                                                                                                                                                                                                                                                                                                                      data-linkindex="5"
                                                                                                                                                                                                                                                                                                                                                                      title="Protected by Outlook: https://www.youtube.com/channel/UCqGFIgNFyE-R3zFbcpym9Rg. Click or tap to follow the link."><img
                              style="max-width:100%; border:0; outline:none; text-decoration:none; display:block" alt="YouTube" height="24" width="24" src="https://bioclinica.ro/images/emails/youtube.png" data-imagetype="External"></a></td>
                          </tr>
                          <tr>
                            <td style="font-family:sans-serif; vertical-align:top; padding-top:20px; font-size:16px; text-align:center" align="center" valign="top" class="x_content-block"><a style="font-size:16px; text-align:center; text-decoration:none; color:#033030" originalsrc="https://bioclinica.ro/" data-auth="NotApplicable" rel="noopener noreferrer" target="_blank"
                                                                                                                                                                                               href="https://emea01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fbioclinica.ro%2F&amp;data=05%7C02%7C%7C98eeda892d39407b51f008de058f6089%7C84df9e7fe9f640afb435aaaaaaaaaaaa%7C1%7C0%7C638954310525318420%7CUnknown%7CTWFpbGZsb3d8eyJFbXB0eU1hcGkiOnRydWUsIlYiOiIwLjAuMDAwMCIsIlAiOiJXaW4zMiIsIkFOIjoiTWFpbCIsIldUIjoyfQ%3D%3D%7C0%7C%7C%7C&amp;sdata=Mq3hJ9xrHsfiUA2ZmuShlEhpfDwErlEOSIzyv6epJ6E%3D&amp;reserved=0"
                                                                                                                                                                                               data-linkindex="6" title="Protected by Outlook: https://bioclinica.ro/. Click or tap to follow the link.">bioclinica.ro</a></td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </td>
                  <td style="font-family:sans-serif; font-size:14px; vertical-align:top" valign="top">&nbsp;</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="g4Y3U"></div>
</div>
